.video-grid-container{
    display:block;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}

.main-grid-container{
  display: grid;
  grid-template-columns: 60% 20%;
}

video {
  border-radius: 15px;
  background-color: black;
}